<template>
  <v-app id="inspire">
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar color="red darken-4" dark flat>
              <v-toolbar-title>Login form</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form v-model="valid" ref="form" validation>
                <v-text-field
                  label="Email"
                  name="email"
                  prepend-icon="person"
                  type="email"
                  color="red darken-2"
                  v-model="email"
                  :rules="emailRules"
                ></v-text-field>

                <v-text-field
                  color="red darken-2"
                  id="password"
                  label="Password"
                  name="password"
                  prepend-icon="lock"
                  type="password"
                  :counter="6"
                  v-model="password"
                  :rules="passwordRules"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :loading="loading"
                @click="onSubmit"
                color="red darken-4"
                :disabled="!valid || loading"
              >Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      email: "",
      password: "",
      valid: false,
      emailRules: [
        v => !!v || "Email is required",
        v =>
          /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(v) ||
          "Email must be valid"
      ],
      passwordRules: [
        v => !!v || "Password is required",
        v =>
          (v && v.length >= 6) ||
          "Password must be equal or more then 6 chapters"
      ]
    };
  },
  computed: {
    ...mapGetters("auth", ["loading"])
  },
  methods: {
    ...mapActions("auth", ["setLogin"]),

    onSubmit() {
      if (!this.$refs.form.validate()) return;

      const USER = {
        email: this.email,
        password: this.password
      };

      this.setLogin(USER);
    }
  }
};
</script>
