<template>
  <v-container>
    <v-layout>
      <v-flex d-flex flex-column justify-center align-center>
        <h1 class="book--title mt-12">Title of the book: "{{item.name}}"</h1>
        <v-card
          class="mx-auto mb-9"
          max-width="400"
        >
          <v-card-text>
            <div class="d-flex text-left text--primary">
              Height:
              <div
                class="text-uppercase body-2 ml-2"
              >"{{ item.height ? item.height : 'No info' }}"</div>
            </div>
            <div class="text-left text--primary">Race: {{ item.race }}</div>
            <div class="text-left text--primary">Gender: {{ item.gender }}</div>
            <div class="text-left text--primary">Birth: {{ item.birth }}</div>
            <div class="text-left text--primary">Spouse: {{ item.spouse }}</div>
            <div class="text-left text--primary">Death: {{ item.death }}</div>
            <div class="text-left text--primary">Realm: {{ item.realm }}</div>
            <div class="text-left text--primary">Hair: {{ item.hair }}</div>
            <div class="text-left text--primary">Name: {{ item.name }}</div>
            <div class="text-left text--primary">Wiki url: {{ item.wikiUrl }}</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters("character", ["item"])
  },
  methods: {
    ...mapActions("character", ["fetchItem"])
  },
  mounted() {
    this.fetchItem(this.$route.params.id);
  }
};
</script>

<style scoped>
.mt-9:hover {
  text-decoration: none;
}
</style>
