<template>
  <v-container>
    <v-layout>
      <v-flex>
        <h1 class="font-weight-bold">Quote</h1>
        <v-card
          class="mx-auto mb-9"
          max-width="400"
          v-for="(character, i) in items"
          :key="i"
          @click="goToCharacter(character._id)"
        >
          <v-card-text>
            <div class="d-flex text-left text--primary">
              Height:
              <div
                class="text-uppercase body-2 ml-2"
              >"{{ character.height ? character.height : 'No info' }}"</div>
            </div>
            <div class="text-left text--primary">{{ items }}</div>
          </v-card-text>
        </v-card>
        <div class="text-center">
          <v-pagination :v-model="items" :length="10"></v-pagination>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters("quote", ["items"])
  },
  methods: {
    ...mapActions("quote", ["fetchItems"])
  },
  async mounted() {
    this.fetchItems();
  }
};
</script>