<template>
  <div>
    <v-container v-if="!loading">
      <v-layout>
        <v-flex>
          <h1 class="font-weight-bold">Character</h1>
          <v-card
            class="mx-auto mb-9"
            max-width="400"
            v-for="(character, i) in items"
            :key="i"
            @click="goToCharacter(character._id)"
          >
            <v-card-text>
              <div class="d-flex text-left text--primary">
                Height:
                <div
                  class="text-uppercase body-2 ml-2"
                >"{{ character.height ? character.height : 'No info' }}"</div>
              </div>
              <div class="text-left text--primary">Race: {{ character.race }}</div>
              <div class="text-left text--primary">Gender: {{ character.gender }}</div>
              <div class="text-left text--primary">Birth: {{ character.birth }}</div>
              <div class="text-left text--primary">Spouse: {{ character.spouse }}</div>
              <div class="text-left text--primary">Death: {{ character.death }}</div>
              <div class="text-left text--primary">Realm: {{ character.realm }}</div>
              <div class="text-left text--primary">Hair: {{ character.hair }}</div>
              <div class="text-left text--primary">Name: {{ character.name }}</div>
              <div class="text-left text--primary">Wiki url: {{ character.wikiUrl }}</div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container class="d-flex justify-center align-center">
      <v-progress-circular :size="100" :width="7" color="red darken-2" indeterminate></v-progress-circular>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters({
      items: "character/items",
      loading: "auth/loading"
    })
  },
  methods: {
    ...mapActions("character", ["fetchItems"]),
    goToCharacter(id) {
      this.$router.push(`/character/${id}`);
    }
  },
  async mounted() {
    console.log(this.loading);
    this.fetchItems();
  }
};
</script>