<template>
    <v-container>
        <v-layout>
            <v-flex d-flex flex-column justify-center align-center>
                <h1>Video info</h1>
                <v-card
                    class="mx-auto mb-9"
                    max-width="344"
                >
                    <v-card-text>
                        <div class="d-flex text-left text--primary">
                            Movie name:
                                <div class="text-uppercase body-2 ml-2">"{{ item.name }}"</div>
                        </div>
                        <div class="text-left text--primary">
                            Runtime in minutes: {{ item.runtimeInMinutes }}
                        </div>
                        <div class="text-left text--primary">
                            Budget in millions: {{ item.budgetInMillions }}
                        </div>
                        <div class="text-left text--primary">
                            Box office revenue in millions: {{ item.boxOfficeRevenueInMillions }}
                        </div>
                        <div class="text-left text--primary">
                            Academy award nominations: {{ item.academyAwardNominations }}
                        </div>
                        <div class="text-left text--primary">
                            Academy award wins: {{ item.academyAwardWins }}
                        </div>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    computed: {
        ...mapGetters('movie', ['item'])
    },
    methods: {
        ...mapActions('movie', ['fetchItem'])
    },
    async mounted() {
        this.fetchItem(this.$route.params.id)
    }
}
</script>
