<template>
  <div>
    <v-container v-if="!loading">
      <v-layout>
        <v-flex>
          <h1 class="font-weight-bold">Movies</h1>
          <v-card
            class="mx-auto mb-9"
            max-width="400"
            v-for="(movie, i) in items"
            :key="i"
            @click="goToMovie(movie._id)"
          >
            <v-card-text>
              <div class="d-flex text-left text--primary">
                Movie name:
                <div class="text-uppercase body-2 ml-2">"{{ movie.name }}"</div>
              </div>
              <div class="text-left text--primary">Runtime in minutes: {{ movie.runtimeInMinutes }}</div>
              <div
                class="text-left text--primary"
              >Academy award nominations: {{ movie.academyAwardNominations }}</div>
              <div class="text-left text--primary">Academy award wins: {{ movie.academyAwardWins }}</div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-else class="d-flex justify-center align-center">
      <v-progress-circular :size="100" :width="7" color="red darken-2" indeterminate></v-progress-circular>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters({
        items: 'movie/items',
        loading: 'auth/loading'
    })
  },
  methods: {
    ...mapActions("movie", ["fetchItems"]),
    goToMovie(id) {
      this.$router.push(`/movie/${id}`);
    }
  },
  async mounted() {
    this.fetchItems();
  }
};
</script>
