<template>
  <v-app>
    <v-navigation-drawer app temporary v-model="drawer">
      <v-list color="red darken-4">
        <v-list-item v-for="(link, i) in links" :key="i" @click="goToLink(link.url)">
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="link.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app dark color="red darken-4">
      <v-app-bar-nav-icon @click="drawer = !drawer" class="d-md-none"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <nuxt-link to="/" class="title">"The Lord of the Rings"</nuxt-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="d-sm-none d-md-flex d-none">
        <v-btn v-for="(link, i) in links" :key="i" text :to="link.url" exact>
          <v-icon left>{{ link.icon }}</v-icon>
          {{ link.title }}
        </v-btn>
        <v-btn text @click="logout" exact v-if="loggedIn">
          <v-icon left>exit_to_app</v-icon>Logout
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <nuxt />

    <template v-if="error">
      <v-snackbar
        :color="error"
        :multi-line="true"
        :timeout="5000"
        :vertical="true"
        @input="clearError"
        :value="true"
      >
        {{ error }}
        <v-btn dark text @click.native="clearError">Close</v-btn>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import TokenService from "~/services/storage.service";

export default {
  data() {
    return {
      drawer: false
    };
  },
  computed: {
    ...mapGetters({
      error: "auth/error",
      loggedIn: "auth/loggedIn",
      loading: "auth/loading"
    }),
    links() {
      if (this.loggedIn) {
        return [
          { title: "Book", icon: "book", url: "/" },
          { title: "Movie", icon: "local_movies", url: "/movie" },
          { title: "Character", icon: "folder_shared", url: "/character" },
          { title: "Quote", icon: "insert_comment", url: "/quote" }
        ];
      }
      return [
        { title: "Book", icon: "book", url: "/" },
        { title: "Login", icon: "lock", url: "/login" }
      ];
    }
  },
  methods: {
    goToLink(e) {
      this.$router.push(e);
    },
    ...mapActions({
      clearError: "auth/clearError",
      logout: "auth/logout"
    })
  }
};
</script>

<style lang="scss">
.title {
  text-align: center;
  text-decoration: none !important;
  color: #ffffff !important;
}
.container {
  margin: 64px auto 0;
  padding: 0 !important;

  @media only screen and(max-width: 960px) {
    margin: 56px auto 0 !important;
  }
}
</style>

<style lang="scss">
h1 {
  text-align: center;
}
.v-icon-home {
  margin-right: 15px;
}
</style>
