<template>
  <div>
    <v-container v-if="!loading">
      <v-layout>
        <v-flex>
          <h1 class="font-weight-bold">Books</h1>
          <v-card
            class="mx-auto mb-9"
            max-width="344"
            v-for="(book, i) in items"
            :key="i"
            @click="goToBook(book._id)"
          >
            <v-card-text>
              <div class="subtitle-1 text--primary text-left">Title: "{{ book.name }}"</div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-else class="d-flex justify-center align-center">
      <v-progress-circular :size="100" :width="7" color="red darken-2" indeterminate></v-progress-circular>
    </v-container>
  </div>
</template>


<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters({
        items: 'book/items',
        loading: 'auth/loading'
    })
  },
  methods: {
    ...mapActions("book", ["fetchItems"]),
    goToBook(id) {
      this.$router.push(`/${id}`);
    }
  },
  async mounted() {
    this.fetchItems();
  }
};
</script>