<template>
    <v-container>
        <v-layout>
            <v-flex d-flex flex-column justify-center align-center>
                <h1>All chapters</h1>
                <v-card
                    class="mx-auto my-5"
                    max-width="344"
                    v-for="(chapter, i) in chapters"
                    :key="i"
                >
                    <v-card-text>
                        <v-card-title class="headline">Chapter info {{ i+1 }}</v-card-title>
                        <div class="d-flex flex-row justify-space-between align-center mb-2">
                            <v-icon>book</v-icon>
                            <p class="subtitle-2 text--primary mb-0 ml-2">
                                {{ chapter.book }}
                            </p>
                        </div>
                        <div class="d-flex flex-row justify-center align-center">
                            <v-icon>vpn_key</v-icon>
                            <p class="subtitle-2 text--primary mb-0 ml-2">
                                {{ chapter._id }}
                            </p>
                        </div>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    computed: {
        ...mapGetters('book', ['chapters']),
        id() {
            return this.$route.params.id
        }
    },
    methods: {
        ...mapActions('book', ['fetchChapters'])
    },
    async mounted() {
        this.fetchChapters(this.id)
    }
}
</script>
